<div class="card w-50 mx-auto">
    <h1 class="card-header">Cart</h1>
    {{#if result}}
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">ID: {{result._id}}</h6>
        {{#each result.products }}
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">Title: {{this._id.title}}</h5>
                <p class="card-text">Description: {{this._id.description}}</p>
                <p class="card-text">Category: {{this._id.category}}</p>
                <p class="card-text">Quantity: {{this.quantity}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
        <div class="card-body">
            <h1 class="card-title">{{message}}</h1>
        </div>
    {{/if}}
</div>

